@import url('https://api.fontshare.com/css?f%5B%5D=zodiak@400,700&display=swap');

body {
    text-align: center;
    font-family: sans-serif;
   /* background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);*/
         font-family: sans-serif;
         background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);
}

ul {
    text-decoration: none;
    list-style: none;

}

#header {
    border-radius: 5%;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#header ul li {
    display: inline-block;
    margin: 0 15px;
    border: none;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
}

/* Hover sirve para resaltar al pasar mouse por encima*/
#header ul li:hover {
    background-color: #97bbe8;
        border-radius: 8px;
}


.dropdown-menu :hover{
     background-color: #97bbe8;
     border-radius: 8px;
}

#header a {
    text-decoration: none;
    color: black;
}

.card-title {
  min-height: 50px; /*Tamaño minimo del titulo de los cards*/
}
.card-text {
  min-height: 40px; /*Tamaño minimo del texto de los cards*/
}


/* footer siempre abajo */
footer {
    margin-top: auto;
    width: 100%;
    text-align: center;
}

footer a:hover {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.footer-logo{
    max-width: 150px;
    height: auto;
}




